body {
  background: #eceef1;
}
.signin-header {
  height: 60px;
  float: none;
  padding: 10px 30px;
  background: #eceef1;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
.header-content {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  color: #505050;
  float: right;
  display: flex;
}
.login-link {
  float: left;
  margin-right: 10px;
  text-align: right;
}
#forgot-pwd {
  color: #0077c5;
  text-decoration: none;
}
#sign-in-btn {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  padding: 0 20px;
  border: 1px solid #ccc;
  color: white;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: normal;
  height: 34px;
}
.white-lock {
  height: 1em;
  width: 0.8em;
  margin-top: 2px;
  margin-right: 4px;
  vertical-align: text-top;
  display: inline-block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/icon-whitelock@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  padding: 20px 0;
}
.logo {
  width: 118px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/ecosystem_logos_new.png);
  margin: 0 auto;
}
.main-container {
  padding: 0;
}
.form-header ul {
  height: 23px;
  width: 318px;
  overflow: hidden;
  margin-bottom: 15px;
  list-style-type: none;
  margin: auto;
}
.form-header li {
  text-decoration: none;
<<<<<<< Updated upstream
=======
  margin: 3px;
}
.form-header span {
  padding-right: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
.form-header a {
  color: #b3b0b0;
  text-decoration: none;
}
.form-header {
  margin-left: 42px;
}
.form-header img{
  width: 23px;
  height: 23px;
}
.form {
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.form-signup {
  width: 420px;
  height: auto;
  text-align: center;
  background-color: #fff;
  border-width: 1px;
  border-color: #d1d1d1;
  border-style: solid;
}
.form-signup h3 {
  font-weight: lighter;
  color: #535353;
}
.form-signup h5 {
  font-weight: lighter;
  color: #535353;
}
.form-signup a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 0;
  font-weight: lighter;
  font-size: 12px;
}
.form-fieldset {
  padding-top: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}
.form-fieldset input {
  border-width: 1px;
  border-color: #d3d3d3;
  width: 89.45%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 30px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 30px;
}
.form-fieldset span {
  padding-bottom: 17px;
  padding-top: 5px;
  font-size: 11px;
  color: #444;
}
#password {
  background-image: url(./images/lock.png);
  background-position: right center;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 17px 17px;
  background-position-x: 97%;
}
#submit-btn {
  background: #0077c5;
  border: #0077c5;
  width: 100%;
  height: 44px;
  border-radius: 4px;
}
#btn-image {
  height: 1em;
  width: 0.8em;
  /* margin-top: 2px; */
  margin-right: 4px;
  vertical-align: text-top;
  display: inline-block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/icon-whitelock@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 15px;
}
#btn-text {
  margin-top: 3px;
  color: #fff;
  font-size: 15px;
}
.signup-action {
  width: 380px;
  height: 44px;
  margin: auto;
}
.form-footer {
  text-align: center;
}
.terms {
  font-style: italic;
  color: #757575;
  font-size: 12px;
}
#terms-text {
>>>>>>> Stashed changes
}
